<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
	- Application context definition for data access layer.
	- Accessed by business layer objects defined in "applicationContext.xml"
	- (see web.xml's "contextConfigLocation").
	-
	- This version of the data access layer works on two databases (main/order),
	- using JNDI DataSources with JtaTransactionManager. It obviously depends on
	- JTA support in the container, and on pre-configured container DataSources.
-->
<beans>

	<!-- ========================= RESOURCE DEFINITIONS ========================= -->

	<bean id="dataSource"
		class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>${jndi}</value>
		</property>
        <property name="resourceRef">
            <value>false</value>
        </property>
	</bean>

	<bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager" />
</beans>
